@*
                    DtmIngreso = Convert.ToDateTime(collection["DtmIngreso"]),
                    DtmRetiro = Convert.ToDateTime(collection["DtmRetiro"]),
                    StrDatosAdicionales = collection["StrDatosAdicionales"],*@
@{
    ViewData["Title"] = "Nuevo Empleado";
}
@model Tblempleado

<div class="container">
    <h2>Crear empleado</h2>
    @*<p>Combine .table-dark and .table-striped to create a dark, striped table:</p>*@
</div>

<hr />

<div class="row">

    <div class="col-md-4">
        <form asp-action="Nuevo">
            <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
            <div class="form-group">
                <label asp-for="StrNombre" class="control-label"></label>
                <input asp-for="StrNombre" class="form-control" />
                <span asp-validation-for="StrNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDocumento" class="control-label"></label>
                <input asp-for="NumDocumento" class="form-control" />
                <span asp-validation-for="NumDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrDireccion" class="control-label"></label>
                <input asp-for="StrDireccion" class="form-control" />
                <span asp-validation-for="StrDireccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrTelefono" class="control-label"></label>
                <input asp-for="StrTelefono" class="form-control" />
                <span asp-validation-for="StrTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrEmail" class="control-label"></label>
                <input asp-for="StrEmail" class="form-control" />
                <span asp-validation-for="StrEmail" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="IdRolEmpleado" class="control-label"></label>
                <select asp-for="IdRolEmpleado" class="form-control"  asp-items="ViewBag.rol"></select>
                <span asp-validation-for="IdRolEmpleado" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="StrEmail" class="control-label"></label>
                <input asp-for="StrEmail" class="form-control" />
                <span asp-validation-for="StrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrEmail" class="control-label"></label>
                <input asp-for="StrEmail" class="form-control" />
                <span asp-validation-for="StrEmail" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-primary" href="~/TBLempleado">Volver</a>
            </div>
        </form>

    </div>

</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

